<!--<div class="container">
    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>-->
<!-- <swiper autoplay="5000" effect="slide" slides-per-view="1" loop="true">
        <slides>
            <slide ng-repeat="s in mySlides">
                <img ng-src="{{s}}" class="img-full" noloading="true">
            </slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
    </swiper>

    <div class="row">
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" rel="gal" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
    </div>-->
<section class="video">
    <div class="social_icon">

    </div>
    <div class="container">
    </div>
</section>
<section class="catg">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-12">
                <div class="strip_img"></div>
            </div>
            <div class="col-md-4  padd_r">
                <a href=""><img src="frontend/img/2.jpg" class="img-responsive min_h"></a>
            </div>
            <div class="col-md-4 padd_l padd_r">
                <a href=""><img src="frontend/img/4.jpg" class="img-responsive min_h"></a>
            </div>
            <div class="col-md-4 padd_l">
                <a href=""><img src="frontend/img/5.jpg" class="img-responsive min_h"></a>
            </div>-->
            <div class="col-md-12">
                <div class="strip_img"></div>
                <div class="custom_flex">
                    <!--<flex-slider flex-slide="s in categories track by $index" prev-text="" next-text="" pause-on-hover="false" max-items="3"
                        animation="slide" item-width="250">
                        <li>
                            <img ng-src="{{s}}" class="img-responsive">
                        </li>
                    </flex-slider>-->
                    <div class="home-col">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-div">
                                    <img src="frontend/img/fiction-home.jpg" class="img-responsive">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="img-div">
                                    <img src="frontend/img/inspire.jpg" class="img-responsive">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="abt_us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="bg_img">
                    <h1 class="text-center">ABO<span style="color: black;">U</span>T<br><span class="relt">S</span></h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="flex_padd">
                    <!--<flex-slider animation="slide" flex-slide="s in testmonial track by $index" prev-text="" next-text="">
                        <li>
                            <h3>{{s.title}}</h3>
                            <p>{{s.text}}</p>
                        </li>
                    </flex-slider>-->
                    <div>
                        <h3>Lorem Ipsum is simply dummy text</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 0the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of
                            type and scrambledLorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem
                            Ipsum has been</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="lt_gray">
    <div class="container">
        <div class="row">
            <div class="col-md-3 padd_r">
                <img src="frontend/img/12.jpg" class="img-responsive min_h">
            </div>
            <div class="col-md-3 padd_l padd_r">
                <img src="frontend/img/13.jpg" class="img-responsive min_h">
            </div>
            <div class="col-md-3 padd_l padd_r">
                <img src="frontend/img/14.jpg" class="img-responsive min_h">
            </div>
            <div class="col-md-3 padd_l">
                <img src="frontend/img/15.jpg" class="img-responsive min_h">
            </div>
            <div class="col-md-3 padd_r">
                <img src="frontend/img/16.jpg" class="img-responsive min_h">
            </div>
            <div class="col-md-3 padd_l padd_r">
                <img src="frontend/img/17.jpg" class="img-responsive min_h">
            </div>
            <div class="col-md-3 padd_l padd_r">
                <img src="frontend/img/18.jpg" class="img-responsive min_h">
            </div>
            <div class="col-md-3 padd_l">
                <img src="frontend/img/19.jpg" class="img-responsive min_h">
            </div>
        </div>
    </div>
</section>